PORT=5001
NODE_ENV=development
MONGODB_URI=http://localhost:3000localhost
FRONTEND_URL=http://localhost:3000
MAX_FILE_SIZE=52428800 # 50MB

# Auth Configuration
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30

# NextAuth Configuration
NEXTAUTH_SECRET=your_nextauth_secret_here
NEXTAUTH_URL=http://localhost:3000

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Admin Seeding
ADMIN_EMAIL=admin@talentnode.com
ADMIN_PASSWORD=Admin@123
